<%- include('../partials/header'); -%>



<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="container text-center">
                <img id="ADD" src="https://img.freepik.com/free-vector/stylish-yellow-sale-banner-design_1017-14559.jpg?size=626&ext=jpg" class="img-thumbnail" alt="">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 category">
            <ul class="list-group">
                <li class="list-group-item active">Category</li>
                <li class="list-group-item">Pantry</li>
                <li class="list-group-item">Books</li>
                <li class="list-group-item">Electronics</li>
                <li class="list-group-item">Food</li>
                <li class="list-group-item">Mobile</li>
                <li class="list-group-item">Sports</li>
                <li class="list-group-item">Fashion</li>
              </ul>
        </div>
        <div class="col-md-9 rightside">

            <div class="container products">
                <div class="row" style="display: flex; flex-wrap: wrap;">
                    <% products.forEach(function(products){ %>
                        <div class="col-lg-4 col-md-6 ">
                            <div class="img-thumbnail" style="margin-bottom: 25px;">
                                <img style="width: 100%;height: 160px;"  src=" <%= products.image %>">
                                <figure>
                                    <h5 class="text-center"><%= products.name.substring(0,55) + "..." %> </h5>
                                </figure>
                                <p style="text-align: center;">
                                    <a class="btn btn-primary btn-sm" href="/HomePage/<%= products._id %> ">Go Shop!</a>
                                </p>                    
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div> 
        </div>
    </div>
</div>



<div class="blank">
<!--  MAI HAGA THODA FOOTER ME USKO THIK KARNE K LIYE HAI YEH -->
</div>



<%- include('../partials/footer'); -%> 
